<footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
<script src="/public/bootstrap5/assets/dist/js/bootstrap.bundle.min.js"></script>
../assets/dist/js/bootstrap.bundle.min.js
    </body>
</html>
